{% block content %}
<div class="card text-center">
  <div class="card-body">
    <center>
      <h5>Exploración general de los datos de los clientes</h5>

      <img
        class="img-fluid"
        src="data:image/png;base64,{{imagesData.image[0]}}"
      />
      <img
        class="img-fluid"
        src="data:image/png;base64,{{imagesData.image[1]}}"
      />
      <img
        class="img-fluid"
        src="data:image/png;base64,{{imagesData.image[2]}}"
      />
      <img
        class="img-fluid"
        src="data:image/png;base64,{{imagesData.image[3]}}"
      />
      <img
        class="img-fluid"
        src="data:image/png;base64,{{imagesData.image[4]}}"
      />
      <img
        class="img-fluid"
        src="data:image/png;base64,{{imagesData.image[5]}}"
      />
      <img
        class="img-fluid"
        src="data:image/png;base64,{{imagesData.image[6]}}"
      />
      <img
        class="img-fluid"
        src="data:image/png;base64,{{imagesData.image[7]}}"
      />
    </center>
  </div>
</div>

{% endblock %}
